* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.bnight {
  background: linear-gradient(
    120deg,
    #24f15e,
    rgb(254, 39, 226),
    rgb(7, 219, 243)
  ) !important;
}
body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient(-115deg, rgb(21, 37, 55), rgb(241, 116, 6), #00e);
}
.night {
  background-color: aliceblue !important;
}
.container {
  background-color: rgb(101, 87, 6);
  width: 20vw;
  padding: 5%;
  height: 30vh;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 10px #033;
}
h1 {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}
button {
  color: aliceblue;
  width: 10vw;
  height: 5vh;
  display: block;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f44;
  cursor: pointer;
  box-shadow: 0 4px 10px #033;
}
button:hover {
  background-color: chartreuse;
}
@media (max-width: 480px) {
  h1 {
    font-size: 15px;
  }
  button {
    font-size: 10px;
    padding: 8px 8px 8px 0px;
  }
}
